/* your css code */
$font: Poppins;

.TextComponentWrapper {
  width: 80%;
  margin: 10%;
  font-family: $font;
  .TextComponentSubHeading {
    display: flex;
    font-size: 14px;
    color: #57abfb;
    font-weight: 600;
  }
  .TextComponentHeading {
    display: flex;
    margin-top: -10px;
    font-weight: 600;
    font-size: 43px;
    width: 500px;
    color: #ffffff;
  }
  .TextComponentContent {
    display: flex;
    width: 535px;
    font-size: 12px;
    color: #cccccc;
  }
}


