@import "../../styles/mixins";

.memberContainer {
    @include make-flex();
    position: relative;

    &::before {
      content: url("../../Assets/Illustration/memberillustration.svg");
      top: 25%;
      left: -30%;
      position: absolute;
    }

    &__Image {
        height: 10rem;
        width: 10rem;
        border-radius: 50%;
      }

      @media only screen and (max-width: 1075px) {
        &__Image {
          height: 8rem;
          width: 8rem;
       
        }
      }

      @media only screen and (max-width: 900px) {
        &__Image {
          height: 7rem;
          width: 7rem;
    
        }
      }

      &__Name {
        margin-top: 25px;
        font-size: 18px;
        text-align: center;
        font-weight: 600;
      }

      @media only screen and (max-width: 900px) {
        &__Name {
          font-size: 12px;
        }
      }

      &__Pos {  
        color: var(--primary-color);
        font-size: 15px;
        font-weight: 500;
      }

      @media only screen and (max-width: 900px) {
        &__Pos {  
          font-size: 10px;
        }
      }
}