.ArchivePageWrapper {
  padding-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
  &__grid {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 65px;
  }
}

.ArchivePageNavbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 365px;
  &__button {
    background-color: transparent;
    border: none;
    color: #ccccccb8;
    font-size: 15px;
    text-decoration: none;
  }
  &__search {
    border-radius: 24px;
    padding: 10px;
    padding-left: 20px;
    font-weight: 600;
    border: 1px solid var(--archive-card-secondary);
    padding-left: 42px;
    background: url("../../assests/icons/search.svg") no-repeat 16px;
    background-size: 16px;
  }
}
