@import "../../styles/mixins";

.ArchivePageWrapper {
  padding-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 1170px;

  main {
    width: 100%;
  }

  &__grid {
    margin-top: 90px;
    margin-bottom: 45px;
    @include make-flex($dir: row);
    flex-wrap: wrap;
    gap: 55px;
    width: 100%;

    &__animationWrapper {
      background-color: rgba(0, 255, 255, 0);
      will-change: transform;
      transition: transform 480ms;
      &:hover {
        transform: translateY(-3.7%);
        transition: ease-in-out 0.3s;
      }
    }
  }
}

.ArchivePageNavbar {
  @include make-flex($dir: row);
  position: relative;
  // display: flex;
  // justify-content: flex-start;
  // align-items: center;
  // gap: 365px;
  &__button {
    background-color: transparent;
    border: none;
    color: #ccccccb8;
    font-size: 15px;
    text-decoration: none;
    position: absolute;
    // top: 0;
    left: 0;
  }
  &__search {
    border-radius: 24px;
    padding: 5px 6px 4px 42px;
    padding-left: 20px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    text-transform: capitalize;
    border: 1px solid var(--archive-card-secondary);
    padding-left: 42px;
    background: url("../../Assets/icons/search.svg") no-repeat 16px;
    background-size: 16px;
  }

  &__searchBar {
    position: relative;
    font-size: 15px;

    border-radius: 10px;
    ul {
      font-size: 15px;
      list-style: none;
      position: absolute;
      z-index: 2;
      background-color: #ffffff;
      top: 38px;
      left: 8px;
      width: 92%;
      border-radius: 10px;
      text-decoration: none;

      li {
        a {
          text-decoration: none;
          color: rgb(85, 85, 85);

          &:hover {
            color: rgb(0, 0, 0);
            transition: all 0.1s ease-in-out;
            font-weight: 600;
          }
        }

        &:first-child {
          padding-top: 22px;
        }
        &:last-child {
          padding-bottom: 22px;
        }
        padding-bottom: 6px;
        width: 100%;
        // height: 30px;
        padding: 12px;
        cursor: pointer;
        border-radius: 10px;
      }
    }
  }
}

@media only screen and (max-width: 1290px) {
  .ArchivePageWrapper {
    width: 100%;
    main {
      padding: 0 30px;
    }
    header {
      padding: 0 30px;
    }
  }

  .ArchivePageNavbar {
    width: 100%;
  }
}

@media only screen and (max-width: 510px) {
  .ArchivePageWrapper {
    main {
      padding: 0 20px;
    }
  }
}

@media only screen and (max-width: 630px) {
  .ArchivePageNavbar {
    // width: 100%;
    flex-direction: column;
    gap: 20px;
    // padding: 0 30px;

    &__button {
      position: relative;
      align-self: flex-start;
    }
  }
}
