@import "../../../../styles/mixins";

.ThinkTankSectionWrapper {
  height: 100vh;
  scroll-snap-align: start;
  @include make-flex();

  &__content-container {
    @include make-flex($dir: row, $just: space-between);
    width: 100%;
  }
}

@media only screen and (max-width: 1075px) {
  .ThinkTankSectionWrapper {
    &__content-container {
      @include make-flex($dir: column-reverse);
      gap: 30px;
      width: 100%;
    }
  }
}
