.LeaderBoardPageWrapper {
  background: rgb(255, 255, 255);
  min-height: 100%;
  width: 100%;

  &__Content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
  }
}

.Table {
  border-collapse: separate;
  border-spacing: 55px 25px;
}

.LeaderBoardTitle {
  text-align: center;
  margin-bottom: 30px;
  padding-top: 30px;
}

tbody {
  td {
    text-align: center;
  }
}

.Rank {
  color: red;
  font-weight: 700;
}

.MoneyGreen {
  color: green;
}

.MoneyRed {
  color: red;
}

.MoneyBare {
  color: yellow;
}

.ResultsDivWrapper {
  display: flex;
  margin-top: 70px;
  margin-bottom: 60px;
  justify-content: center;
  gap: 90px;
  align-items: center;

  &__firstPlace {
    p {
      text-align: center;
      margin-top: 10px;
      font-weight: 700;
      font-size: 22px;
    }
  }

  &__notFirstPlace {
    p {
      text-align: center;
      margin-top: 10px;
      font-weight: 700;
      font-size: 15px;
    }
  }
}

.Btncontainer {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
