.membersContainer{
    &__yearTitle {
      background: none;
      color: var(--primary-color);
      border: none;
      font-size: 18px;
      font-weight: 700;
      margin-top: 120px;
    }
  
    &__studentNames {
      display: grid;
      grid-template-columns: repeat(5,1fr);
      height: auto;
  
      p {
        font-weight: 600;
        color: var(--paragraph-txt-color);
        font-size: 14px;
  
        &:hover {
          color: var(--title-txt-color);
          transition: all 0.3s;
        }
      }
    }
  }