.text-container {
  width: 490px;
  &__classifier {
    font-size: 15px;
    color: var(--primary-color);
    font-weight: 600;
    margin-bottom: 5px;
  }

  &__title {
    font-weight: 600;
    font-size: var(--desc-heading-size);
    width: 490px;
    margin-bottom: 10px;
  }

  &__para {
    width: 100%;
    font-size: var(--desc-text-size);
    line-height: 167.5%;
    color: #cccccc;
  }

  .para1 {
    margin-bottom: 20px;
  }
}
