:root {
    --background-color: #161C22;
    --primary-color: #57ABFB;
    --paragraph-txt-color: #CCCCCC;
    --title-txt-color: #FFFF;
    --latest-blog-card: #FFD24D;
    --archive-blog-card: #FF3326;
    --desc-text-size: 14px;
    --desc-heading-size: 43px;
}