$backgroundColour: #161c22;

.BlogPageWrapper {
  // padding-top: 60px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
  .BlogsReadUp {
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 600;
  }
  &__TextComponentWrapper {
    // margin-top: 81px;
    padding-top: 181px;
    padding-bottom: 100px;
  }
}

.BlogPageGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 65px;

  &__animationWrapper {
    background-color: rgba(0, 255, 255, 0);
    will-change: transform;
    transition: transform 480ms;
    &:hover {
      transform: translateY(-3.7%);
      transition: ease-in-out 0.3s;
    }
  }
}
