$backgroundColour: #161c22;

.BlogPageWrapper {
  background-color: $backgroundColour;
  padding-top: 60px;
  margin: auto;
  width:80%;
  .BlogsReadUp{
    color: #57abfb;
  }
  &__TextComponentWrapper{
    margin-left: -10%;
  }
}

.BlogPageGrid {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
}
