$backgroundColour: #161c22;

.BlogPageWrapper {
  padding-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
  .BlogsReadUp{
    color: #57abfb;
  }
  &__TextComponentWrapper{
    
  }
}

.BlogPageGrid {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
}
