@import "../../styles/mixins";

.TeamPageHeading {
  padding-top: 3rem;
  font-size: 1.3rem;
  text-align: center;
  font-weight: 600;
}

.SectionWrapper{
  height:100vh;
}

.TeamPageWrapper {
  
  padding: 5rem 8rem;
  &__grid {
    margin-top: 6rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 4.5rem;
    justify-items: center;

  }

}

.TeamPageNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 365px;
  &__button {
    background-color: transparent;
    border: none;
    color: #ccccccb8;
    font-size: 15px;
    text-decoration: none;
  }

  &__social-media{
    list-style: none;
    @include make-flex($just: space-between, $dir: row);
    gap: 30px;
    &__icon {
      img {
        height: 1.2rem;
        width: 1.2rem;
      }
    }
  }
}
