@import "../../styles/mixins";

.TeamPageHeading {
  padding-top: 3rem;
  font-size: 1.3rem;
  text-align: center;
  font-weight: 600;
}


.SectionWrapper{
  &__leads {
    margin-top: 150px;
  }
}

.TeamPageWrapper {
  
  padding: 5rem 8rem;

  &__grid-leads {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 6rem;
    row-gap: 5rem;
  }

  &__grid1 {
    margin-top: 6rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;

  }
  
  
  &__grid2 {
    margin-top: 6rem;
    display: grid;
    grid-template-columns: repeat(2, .3fr);
    justify-items: center;
    justify-content: center;

  }

}

.TeamPageNavbar {
  @include make-flex($just: space-between, $dir: row, $align: center);
  gap: 365px;
  &__button {
    background-color: transparent;
    border: none;
    color: #ccccccb8;
    font-size: 15px;
    text-decoration: none;

  
    &:hover {
      color: #ffff;
      transition: all 0.3s;
    }
  }

  &__social-media{
    list-style: none;
    @include make-flex($just: space-between, $dir: row);
    gap: 30px;
    &__icon {
      img {
        height: 1.2rem;
        width: 1.2rem;
      }
    }

    
  }
}
