@import "../../styles/mixins";
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.ContentWrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
  &__hero {
    margin-top: 190px;
    color: #161c22;
    &__title {
      max-width: 39%;
      font-size: 60px;
      font-weight: 700;
      line-height: 127.5%;
    }

    &__desc {
      margin-top: 30px;
      line-height: 167.5%;
      width: 40%;
      margin-bottom: 30px;
      font-size: 14px;
    }
    button {
      padding: 8px 32px;
      border-radius: 8px;
      border: 2px solid #00ffaa;
      font-size: 18px;
      background-color: #00ffaa;
      cursor: pointer;
      font-weight: 700;
      font-size: 15px;
      transition: ease-in-out 0.25s;
    }
  }
}

@media only screen and (max-width: 520px) {
  .EventPageWrapper {
    margin: auto;
    p {
      padding: 50px 20px 40px 20px;
      font-size: 13px;
    }

    img {
      height: 160px;
    }

    button {
      font-size: 13px;
    }
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
.EventPageWrapper {
  background: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
  font-family: "Space Mono", monospace;
}
