@import "../../styles/mixins";
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  border: 2px solid red;
}
.ContentWrapper {
  background: black;
  // .bg {
  //   width: 100%;
  //   object-fit: cover;
  //   background-size: cover;
  //   background-repeat: repeat;
  // }
  // //width: 1170px;
  // @include make-flex();
  @include respondAt(1290px) {
    width: 100%;
    padding: 0 30px;
  }
  &__hero {
    color: #e0e0e0;

    &__subTitle {
      text-align: center;
      font-size: 23px;
      font-weight: 700;
    }

    &__title {
      color: red;
      text-align: center;
      // width: 510px;
      font-size: 12vh;
      font-weight: 700;
      line-height: 127.5%;
      span {
        font-size: xx-large;
        color: #ffffff;
      }

      @include respondAt(650px) {
        width: 100%;
      }

      @include respondAt(391px) {
        font-size: 55px;
      }
    }

    &__desc {
      color: red;
      margin-top: 2%;
      line-height: 167.5%;
      width: 595px;
      font-size: 14px;
      text-align: center;

      @include respondAt(650px) {
        width: 100%;
      }
    }
    &__button {
      text-align: center;
      text-decoration: none;
      color: #161c22;
      padding: 8px 32px;
      border-radius: 8px;
      border: 2px solid #00ffaa;
      font-size: 18px;
      background-color: #00ffaa93;
      cursor: pointer;
      font-weight: 700;
      font-size: 15px;
      transition: ease-in-out 0.25s;
    }
  }
}

@media only screen and (max-width: 520px) {
  .EventPageWrapper {
    margin: auto;
    p {
      padding: 50px 20px 40px 20px;
      font-size: 13px;
    }

    img {
      height: 160px;
    }

    button {
      font-size: 13px;
    }
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
.EventPageWrapper {
  background: black;
  height: 100%;
  width: 100%;
  font-family: "Space Mono", monospace;
  @include make-flex();
}
