@import "../../../styles/mixins";

.ReachOutContainer {
  @include make-flex($just: space-between);
  height: 100%;

  &__top {
    gap: 15px;
    @include make-flex($align: flex-start, $dir: row);
  }

  &__left {
    @include make-flex($just: flex-start);
    height: 100%;
  }
  // p {
  //   position: relative;
  //   bottom: -40px;
  //   left: 50px;
  //   color: #787777;
  // }
  &__heading {
    @include make-flex($just: flex-start, $align: flex-start);
    gap: 20px;
    height: 100%;
    // margin-bottom: 30px;
    // bottom: -8px;
    &__text {
      color: #000;
      font-weight: 600;
      font-size: 30px;
      // margin: auto;
    }
    &__logo {
      width: 65px;
      // margin-right: 30px;
    }
  }
  &__form {
    position: relative;
    a {
      text-decoration: none;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      font-size: 35px;
    }
    // margin-left: 60px;
    input {
      width: 400px;
      font-weight: 400;
      height: 40px;
      border: 0;
      font-family: var(--text-font);
      font-size: 16px;
      &:focus {
        outline: none;
      }
      padding-right: 30px;
    }
    button {
      border: 0;
      width: 60px;
      height: 30px;
      background-color: #fff;
    }
    border-bottom: 2px solid rgb(107, 107, 107);
  }
  hr {
    width: 460px;
    margin-left: 60px;
  }
}
