@import "../../styles/mixins";

.FooterContainer {
  @include make-flex($just: space-evenly, $dir: row, $align: flex-start);
  background-color: white;
  font-family: var(--text-font);
  position: absolute;
  padding: 50px 60px;
  width: 100%;
  height: 330px;

  &--mobile {
    @include make-flex();
    height: unset;
  }

  &__right {
    @include make-flex($dir: row, $align: flex-start, $just: space-between);
    // gap: 30px;
    width: 420px;
    height: 100%;
    // width: 30%;
    &--mobile {
      width: 100%;
      @include make-flex($just: space-between, $align: flex-start);
      gap: 40px;
    }
  }

  ul {
    // display: flex;
    // flex-direction: column;
    gap: 10px;
    list-style: none;
    a {
      text-decoration: none;
      color: black;
    }
    li {
      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__elements {
    display: flex;

    &__contact {
      @include make-flex($align: flex-start);
      position: relative;
      // top: -25px;
      &--mobile {
        @include make-flex($align: flex-start);
      }
    }

    ul {
      li {
        h4 {
          font-size: 18px;
        }
        font-size: 15px;
      }
    }

    &__socials {
      @include make-flex($just: space-evenly, $dir: row);
      width: 10%;
      position: relative;
      // top: -54px;
      list-style: none;
      gap: 30px;
      li {
        a {
          @include make-flex();
        }
      }
      .navbarIcons {
        height: 1.2rem;
        width: 1.2rem;
      }

      &--mobile {
        @include make-flex($dir: row);
        gap: 25px !important;
      }
    }
  }
}

@media only screen and (max-width: 380px) {
  .FooterContainer {
    padding: 10px 13px;
  }
}

@media only screen and (max-width: 550px) {
  .FooterContainer {
    // padding: 10px 13px;
    padding: 30px;
  }
}
