@import "../../styles/mixins";

.FooterContainer {
  @include make-flex($just: space-between, $dir: row, $align: flex-start);
  background-color: white;
  font-family: var(--text-font);
  position: absolute;
  padding: 50px 60px;
  width: 100%;
  height: 330px;

  &__right {
    @include make-flex($dir: row, $align: flex-start, $just: space-between);
    // gap: 30px;
    width: 420px;
    height: 100%;
    // width: 30%;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    a {
      text-decoration: none;
      color: black;
    }
    li {
      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__elements {
    display: flex;

    &__contact {
      position: relative;
      // top: -25px;
      ul {
      }
    }

    ul {
      li {
        h4 {
          font-size: 18px;
        }
        font-size: 15px;
      }
    }
    &__socials {
      @include make-flex($just: space-evenly, $dir: row);
      width: 10%;
      position: relative;
      // top: -54px;
      list-style: none;
      gap: 30px;
      li {
        a {
          @include make-flex();
        }
      }
      .navbarIcons {
        height: 1.2rem;
        width: 1.2rem;
      }
    }
  }
}
