* {
  color: var(--title-txt-color);
}

.BlogArchiveContainer {
  color: var(--title-txt-color);
  //padding: 10px;
  padding-bottom: 170px;
  margin: 50px 0px 18px 0px;
  border-radius: 8px;
  // width: 30%;
  width: 340px;
  height: 130px;
  background-color: var(--archive-card-background);
}

.BlogArchiveRouting {
  &__title {
    color: var(--archive-card-tertiary);
    margin: 7px auto 16px 24px;
    font-weight: 600;
    background-color: var(--archive-card-background);
    font-size: 14px;
  }
  &__author {
    margin-left: 24px;
    font-size: 12px;
    background-color: var(--archive-card-background);
    color: var(--archive-card-tertiary);
  }
  &__redirect {
    margin: 26px auto 14px 20px;
    display: inline-flex;
    color: var(--archive-card-secondary);
    background-color: var(--archive-card-background);
    font-size: 10px;
    border: 1.4px solid var(--archive-card-secondary);
    border-radius: 8px;
    padding: 4px 22px 4px 22px;
    cursor: pointer;
    font-weight: 600;

    &:hover {
      background-color: var(--archive-card-secondary);
      color: black;
      transition: all 0.5s;
    }
  }
}

.BlogArchiveContainer__tag {
  padding: 4px 8px;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  left: -26px;
  top: -18px;
}

.tag__archive{
  background-color: var(--archive-blog-card);
  color: var(--title-txt-color);
}

.tag__latest {
  background-color: var(--latest-blog-card);
  color: var(--background-color);
}
