@import "../../styles/mixins";

.BlogContainer {
  display: flex;
}

.BlogByline {
  position: relative;
  top: 172px;
  &__author {
    padding-top: 10px;
    font-weight: bold;
    font-size: 16px;
  }
  &__credential {
    font-size: 15px;
  }
  &__date {
    font-size: 15px;
    letter-spacing: 0.6px;
  }
}

.BlogContent {
  position: relative;
  left: 80px;

  &__title {
    font-weight: 500;
    font-size: 50px;
    text-align: center;
  }
  &__content {
    margin-top: 70px;
    font-size: 15px;
    padding: 10px 60px 140px 20px;
  }
}
