.colorSchemeLight {
  background-color: white;

  h1,
  a,
  p,
  span {
    color: black;
  }
}
.colorSchemeDark {
  h1,
  a {
    color: var(--title-txt-color);
  }
  img {
    color: white;
  }
  color: white;
}
.BlogPage {
  height: 100vh;
  padding-top: 70px;
}
.ReadBlogNav {
  a {
    text-decoration: none;
  }
  margin: 0 auto;
  margin-bottom: 70px;
  width: 69vw;
  font-size: var(--desc-text-size);
  display: flex;
  justify-content: space-between;
  align-items: center;
  .Mode {
    display: flex;
    gap: 16px;
    align-items: center;
    a {
      text-decoration: none;
    }
  }
  ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 43px;
    a {
      text-decoration: none;
    }
    ul {
      list-style-type: none;
      display: flex;
      gap: 30px;
      position: relative;
      left: 60px;
      li {
        animation: fade 1s linear;
      }
    }
  }
}
.blogContent {
  font-family: Poppins;
  width: 100vw;
  &__container {
    &__middle {
      display: none;
    }
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    h1 {
      padding-left: 15%;
      text-align: center;
      font-size: 45px;
      font-weight: 500;
      margin-bottom: 5%;
      position: relative;
    }

    &__bot {
      p {
        line-height: 167.5%;
        margin: 0;
      }
      display: flex;
      gap: 120px;
      &__writtenBy {
        p {
          line-height: 167.5%;
          width: clamp(450px, 20%, 150px);
        }

        span {
          font-weight: 600;
        }
      }
    }
  }
}

@media only screen and (max-width: 510px) {
  .ReadBlogNav {
    .Mode {
      img {
        padding-left: 40px;
        height: 20px;
      }
      p {
        display: none;
      }
    }
    margin-bottom: 20px;
    width: 90vw;
    ul {
      ul {
        display: none;
      }
    }
  }
  .blogContent {
    &__container {
      h1 {
        font-size: 32px;
      }
    }
    &__container__bot {
      flex-direction: column;
      &__writtenBy {
        img {
          display: none;
        }
        padding: 10px 0px;
      }
    }
    &__container__bot__text {
      width: 100% !important;
    }
    hr {
      display: none;
    }
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
