header {
  margin-top: 30px;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  &__darkToggle {
    display: flex;
    width: 200px;
  }
  &__nav {
    display: flex;
  }
}
.blogContent {
  font-family: Poppins;
  width: 100vw;
  color: white;
  &__container {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    h1 {
      text-align: center;
      font-size: 46px;
    }

    &__bot {
      display: flex;
      padding: 30px;
      &__writtenBy {
        height: 100px;
        width: 400px;
      }
    }
  }
}
