@import "../../../../styles/mixins";

.HeroSectionWrapper {
  height: 100vh;
  @include make-flex();
  scroll-snap-align: start;
  &__content-container {
    width: 100%;
    @include make-flex($just: space-between, $dir: row);
    &__illustration {
      width: 430px;
    }
  }

  &__content {
    width: 500px;
  }

  &__Title {
    color: var(--title-txt-color);
    font-weight: 600;
    font-size: 48px;
    width: 100%;

    &__Rotator {
      white-space: nowrap;
      display: flex;
      height: 1.68em;
      overflow: hidden;
      span {
      color: var(--primary-color);
      margin-left: 10px;
      animation: animate 5s ease-in-out infinite;
      position: relative;
      }
    }
  }

  &__Description {
    color: var(--paragraph-txt-color);
    line-height: 167.5%;
    width: 90%;
    margin-top: 25px;
    font-size: 14px;
    margin-bottom: 25px;
  }

  &__Button-container {
    display: flex;
    gap: 30px;

    &__Button {
      border: 2px solid var(--primary-color);
      border-radius: 11px;
      color: var(--primary-color);
      font-weight: 600;
      font-size: 14px;
      cursor: pointer;

      padding: 0.7rem 2rem 0.7rem 2rem;

      &:hover {
        background: var(--primary-color);
        color: black;
        transition: all 0.5s;
      }
    }
  }
}
@media only screen and (max-width: 1075px) {
  .HeroSectionWrapper {
    @include make-flex();
    &__content-container {
      width: unset;
    }
  }
}
@media only screen and (max-width: 570px) {
  .HeroSectionWrapper {
    @include make-flex();
    &__content-container {
      width: unset;
    }
    &__content {
      width: 100%;
    }
    &__Title {
      font-size: 38px;
    }

    &__Description {
      width: 100%;
    }
  }
}

@keyframes animate{
  0%{
    top: 0em;
  }
  10%{
    top: 0em;
  }
  33% {
    top: -1.5em;
  }
  44% {
    top: -1.5em;
  }
  67% {
    top: -3em;
  }
  77% {
    top: -3em;
  }
  95% {
    top: -4.505em;
  }
  100% {
    top: -4.505em;
  }  

}
