@font-face {
  src: url(../../Fonts/BaronNeueBold.otf);
  font-family: Ragnarok;
}

.ResourcesPageWrapper {
  width: 100%;
  // height: 100%;
  background-color: #01211b !important;
  
  &__HeaderContainer {
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    background: #01211b;
    background-repeat: repeat;
  }
  
  &__ContentWrapper {
    padding-bottom: 60px;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
  }

  &__Tab {
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
    &__Btn1 {
      cursor: pointer;
      background: none;
      border: none;
      color: white;
      font-size: 16px;
      font-weight: 700;
      border-bottom: 2px solid white;
      padding-bottom: 2px;
    }
  }

  &__TabContentContainer__TabContent {
    h2 {
      color: #00ffaa;
      font-size: xx-large;
      font-weight: 700;
      margin-top: 10vh;
    }
  }

  &__TabContentContainer__TabContent {
    color: white;
    opacity: 78%;
  }

  &__TabContentContainer__TabThreeContent {
    h2 {
      color: #00ffaa;
      font-size: xx-large;
      font-weight: 700;
      margin-top: 10vh;
    }
  }
}

.HideContent {
  display: none;
}

.Unselected {
  font-weight: 400;
  opacity: 30%;
  border-bottom: none;
}

.ResourceContent {
  &__title {
    color: white;
    opacity: 100% !important;
    font-weight: 600;
    font-size: 20px;
    margin-top: 40px;
  }
  &__desc {
    color: white;
    opacity: 78%;
    margin-top: 10px;
    line-height: 200.5%;
    font-weight: 400;
    max-width: 900px;
  }
}

.TabHeader {
  font-family: Ragnarok;
  letter-spacing: 5px;
}
