@import "../../styles/mixins";

.HomeWrapper {
  padding: 30px;
  gap: 10px;
  @include make-flex($just: flex-start, $align: flex-start);
  .links-container {
    list-style: none;
    &__link {
      text-decoration: none;
      font-size: x-large;
    }
  }
}
