@import "../../styles/mixins";

.LandingPageWrapper {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
  position: relative;
}

.hero-section {
  height: 100vh;
  @include make-flex();
  scroll-snap-align: start;
  &__content-container {
    width: 100%;
    @include make-flex($just: space-between, $dir: row);
    &__illustration {
      width: 430px;
    }
  }
}

.aboutus-section {
  height: 100vh;
  @include make-flex();
  scroll-snap-align: start;

  &__content-container {
    width: 100%;
    @include make-flex($just: space-between, $dir: row);
  }
}

.thinktank-section {
  height: 100vh;
  position: relative;
  scroll-snap-align: start;

  &__content-container {
    position: absolute;
    display: flex;
    width: 1190px;
    justify-content: space-between;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.session-section {
  height: 100vh;
  position: relative;
  scroll-snap-align: start;

  &__content-container {
    position: absolute;
    display: flex;
    width: 1190px;
    justify-content: space-between;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__illustration {
      width: 400px;
    }
  }
}
