@import "../../styles/mixins";

.LandingPageWrapper {
  height: 100vh;
  position: relative;
  width: 100%;

  overflow-y: auto;
  scroll-behavior: smooth;
  // display: flex;
  main {
    width: 1170px;
    margin: 0 auto;

    // transition: all 1.5s ease-in-out;
    // & > * {
    //   scroll-snap-align: center;
    // }
  }
}

// @supports (scroll-snap-align: center) {
//   .LandingPageWrapper {
//     scroll-behavior: smooth;
//     scroll-snap-type: y proximity;

//     overflow-y: scroll;
//   }
// }

@media only screen and (max-width: 1290px) {
  .LandingPageWrapper {
    width: 100%;
    main {
      padding: 0 30px;
    }
  }
}
@media only screen and (max-width: 510px) {
  .LandingPageWrapper {
    main {
      padding: 0 20px;
    }
  }
}
